.DS_Store
node_modules

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# VSCode configs

/configs/vscode/User/workspaceStorage
/configs/vscode/User/globalStorage

# ignored zshrc settings

/configs/zsh/zshrc.untracked.sh
