/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0a1d21 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #cde3e2; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #cde3e2; background-color: rgba(91,255,227,0.4)}
.cm-s-nqqwal { background-color: #0a1d21; color: #cde3e2; }
.cm-s-nqqwal span.cm-builtin { color: #0cfef7; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #8f9e9e; }
.cm-s-nqqwal span.cm-keyword { color: #08ffe5; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #00f3d4; }
.cm-s-nqqwal span.cm-def { color: #45ffdb; }
.cm-s-nqqwal span.cm-variable { color: #5bffe3; }
.cm-s-nqqwal span.cm-variable-2 { color: #45ffdb; }
.cm-s-nqqwal span.cm-string { color: #0cfef7; }
.cm-s-nqqwal span.cm-string-2 { color: #0cfef7; }
.cm-s-nqqwal span.cm-number { color: #45ffdb; }
.cm-s-nqqwal span.cm-tag { color: #08ffe5; }
.cm-s-nqqwal span.cm-property { color: #5bffe3; }
.cm-s-nqqwal span.cm-attribute { color: #5bffe3; }
.cm-s-nqqwal span.cm-qualifier { color: #00f3d4; }
.cm-s-nqqwal span.cm-meta { color: #45ffdb; }
.cm-s-nqqwal span.cm-header { color: #08ffe5; }
.cm-s-nqqwal span.cm-operator { color: #08ffe5; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(69,255,219,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #08ffe5; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0a1d21); }
