/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #172024 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c5c7c8; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c5c7c8; background-color: rgba(99,237,190,0.4)}
.cm-s-nqqwal { background-color: #172024; color: #c5c7c8; }
.cm-s-nqqwal span.cm-builtin { color: #30a7e8; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #51575a; }
.cm-s-nqqwal span.cm-keyword { color: #ed616f; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #2ccee7; }
.cm-s-nqqwal span.cm-def { color: #ef976f; }
.cm-s-nqqwal span.cm-variable { color: #63edbe; }
.cm-s-nqqwal span.cm-variable-2 { color: #ef976f; }
.cm-s-nqqwal span.cm-string { color: #30a7e8; }
.cm-s-nqqwal span.cm-string-2 { color: #30a7e8; }
.cm-s-nqqwal span.cm-number { color: #ef976f; }
.cm-s-nqqwal span.cm-tag { color: #ed616f; }
.cm-s-nqqwal span.cm-property { color: #63edbe; }
.cm-s-nqqwal span.cm-attribute { color: #63edbe; }
.cm-s-nqqwal span.cm-qualifier { color: #2ccee7; }
.cm-s-nqqwal span.cm-meta { color: #ef976f; }
.cm-s-nqqwal span.cm-header { color: #ed616f; }
.cm-s-nqqwal span.cm-operator { color: #ed616f; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(239,151,111,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #ed616f; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #172024); }
